{% extends 'Base.html' %}
{% load custom_tags %}

{% block title %}
    My blog
{% endblock %}

{% block content %}
    <h1>Блоги пользователей</h1>
    {% if blog_list %}
        {% for blog in blog_list %}
            <div class="card mb-3">
                <div class="card-header">Дата создания: {{ blog.created|date:"d.m.Y h:m" }} </div>
                <div class="card-body">
                    <p class="card-title">Автор блога: {{ blog.user }}</p>
                    {% stats blog.id user as stat %}
                    <p>Кол-во подписанных пользователей: {{ blog.profile_set.count }}</p>
                    <p>Кол-во постов в блоге: {{ stat.count_blog_post }}</p>
                    {% if stat.user_subscribe %}
                        <a href="{% url 'subscribe_url' blog.id %}" class="btn btn-danger">Отписаться от блога</a>
                    {% else %}
                        <a href="{% url 'subscribe_url' blog.id %}" class="btn btn-primary">Подписаться на блог</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="mt-3">
            <p> Блогов пока нет.. </p>
        </div>
    {% endif %}


{% endblock %}
